 body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
     }
 

 .navbar{
    height:5rem;
    background-color: white;
 }
 .fa-compass{
    color:#fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color:#222222 !important;
 }
 

/* Footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brands{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

/* Cards */
.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    color: #222222;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.card-img-overlay:hover {
    opacity: 0.3; /* Increase opacity */
    background-color: rgba(255, 255, 255, 0.5); /* Light background for visibility */
}

.overlay-text {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
    opacity: 1; /* Ensure text is fully visible */
    background: rgba(255, 255, 255, 0.8); /* Slight background for better readability */
    padding: 10px;
    border-radius: 5px;
}

.container{
    flex:1;
}
.add-btn{
    background-color: #fe424d !important;
    border: none!important;
}
.form-label{
    font-weight: 400;
}
 